@page "/deposit"

<h1>Deposit Calculations</h1>

<NavTabs Mode="ModeType.Main"/>

<div class="row tab">
    <div class="col-4">
        <EditForm Model="@Deposit" OnValidSubmit="@LoadDepositCalc">
            <div class="content-align-left">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <InputNumber class="percent" placeholder="Percents" @bind-Value="Deposit.Percent" /><br />
                <InputNumber class="term" placeholder="Terms" @bind-Value="Deposit.Term" /><br />
                <InputNumber class="amount" placeholder="Summ" @bind-Value="Deposit.Amount" /><br />
                <label> Calculation type:</label><br />
                <input type="radio" name="CalculationType" @onclick="() => Deposit.CalculationType = CalculationType.SimpleInterest" checked />
                <label>Simple interest</label><br />
                <input type="radio" name="CalculationType" @onclick="() => Deposit.CalculationType = CalculationType.CompoundInterest">
                <label>Compound interest</label>
            </div><br/>

            <button type="submit">Calculate</button>
        </EditForm>
    </div>
    <div class="col-8">
        <DepositDetailsTable DepositDetails="DepositDetails"> </DepositDetailsTable>
    </div>
</div>
