@page "/deposit"

<h1>Deposit Calculations</h1>

<NavTabs Mode="ModeType.Main"/>

<div class="row tab">
    <div class="col-4">
        <EditForm Model="@deposit" OnValidSubmit="@LoadDepositCalc">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="content-align-left">
                <InputNumber placeholder="Percents" @bind-Value="deposit.Percent" /><br />
                <InputNumber placeholder="Terms" @bind-Value="deposit.Term" /><br />
                <InputNumber placeholder="Summ" @bind-Value="deposit.Amount" /><br />
                <label> Calculation type:</label><br />
                <input type="radio" name="CalculationType" @onclick="() => deposit.CalculationType = CalculationType.SimpleInterest" checked />
                <label>Simple interest</label><br />
                <input type="radio" name="CalculationType" @onclick="() => deposit.CalculationType = CalculationType.CompoundInterest">
                <label>Compound interest</label>
            </div><br/>

            <button type="submit">Calculate</button>
        </EditForm>
    </div>
    <div class="col-8">
        <DepositDetailsTable DepositDetails="depositDetails"> </DepositDetailsTable>
    </div>
</div>
