@page "/deposit/history"

<h1>Deposit Calculations</h1>

<NavTabs Mode="ModeType.History" />

<div class="skrollable history">
    <div class="row">
        @for (int i = 0; i < columnNumber; i++)
        {
            <div class="col-3">
                @if (deposits != null)
                {
                    @for (int j = 0; j < deposits.Count / columnNumber + 1; j++)
                    {
                        if (j * 4 + i < deposits.Count)
                        {
                            var depositNumber = j * columnNumber + i;
                            var url = $"/deposit/details/{deposits[depositNumber].Id}";
                            <div class="deposit-block">
                                <div class="deposit-details">
                                    <div class="align-left">
                                        <span>Percent:</span><br />
                                        <span>Term:</span><br />
                                        <span>Sum:</span><br />
                                        <span>Date:</span>
                                    </div>
                                    <div class=" align-right">
                                        <span>@(deposits[depositNumber].Percent)%</span><br />
                                        <span>@(deposits[depositNumber].Term)</span><br />
                                        <span>@(deposits[depositNumber].Amount)$</span><br />
                                        <span>@(deposits[depositNumber].Date.ToString("dd.MM.yyyy"))</span>
                                    </div>
                                </div>
                                <div class="deposit-btn-cont">
                                    <button @onclick="() => Navigation.NavigateTo(url)" class="details-btn">See details</button>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        }
    </div>
    <button class="details-btn" @onclick="LoadMore">Load More</button>
</div>
