@using DepositUI.Core.Data
@inject IJSRuntime JS;
<table class="result-table">
    <thead class="table-head">
        <tr>
            <th class="table-cell th1">Month</th>
            <th class="table-cell th2">%</th>
            <th class="table-cell th3">Sum</th>
        </tr>
    </thead>
    <tbody class="skrollable">
        @if (DepositDetails != null)
        {
            @foreach (DepositCalc deposit in DepositDetails)
            {
                <tr>
                    <td class="table-cell td1">@deposit.Month</td>
                    <td class="table-cell td2">@deposit.PercentAdded</td>
                    <td class="table-cell td3">@deposit.TotalAmount</td>
                </tr>
            }
        }
    </tbody>
</table>
